@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
:root {
    --navy: #073642;
    --lightBlue: #586e75;
    --lightGray: #586e7576;
    --blue: #268bd2;
    --cyan: #2aa198;
    --lightCyan: #2aa1977c;
    --violet: #6c71c4;
    --red: #dc322f;
    --magenta: #d33682;
    --orange: #cb4b16;
    --green: #859900;
    --wheat: #fdf6e3;
    --light: #ffffff9e;
    --lightO: #fefcf4;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background-color: var(--wheat);
    color: var(--navy);
}

body {
    margin-bottom: 510px;
}
footer {
    font-size: 10px;
    padding: 5px;
    color: var(--lightBlue);
    margin: 10px;
}

.invisible {
    display: none;
}
.container {
    margin: auto;
    width: 90vw;
    margin-top: 2%;
    height: 90%;
}

.main-container {
    display: flex;
    flex-direction: row;
}

/* TABLE STYLING */

table {
    border-spacing: 0px;
}

tbody td {
    max-height: 50px;
}

.table-header th {
    color: #586e75;
    color: rgba(255, 255, 255, 0.92);
    border: 1px solid var(--lightGray);
    background-color: rgb(216, 127, 97);
    padding: 10px;
}

.table-container td {
    border: 1px solid var(--lightGray);
    max-height: 100px;

    padding: 5px 15px;
    line-height: 20px;
    overflow: scroll;
}

.table_row {
    background-color: var(--light);
    height: 50px;
}
.table_section {
    background-color: darksalmon;
    letter-spacing: 2px;
}

.table_section td {
    border: none;
    border-spacing: 0px;
    max-height: 50px !important;
}

th {
    color: var(--blue);
}

/* Table Cells */
.msg_name {
    width: 20px;
    text-align: center;
}

.port {
    width: 20px;
}

.sysex-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 200px;
}

.long {
    width: 35%;
}

.description {
    width: 5%;
}

.behavior {
    width: 15%;
    max-height: 100px;
}

input[type='textarea'] {
    /* height: 200px; */
    outline: none;
    height: 2rem;

    overflow: auto;

    text-align: start;
    background-color: var(--light);
    border: none;
}

/* End of Table Style */

.send-button {
    margin-top: 20px;
    width: 60%;
}

.send-button:hover {
    content: 'send';
}

.collection-container {
    border: 1px solid var(--navy);
    padding: 10px;
    margin: 25px;
    width: 200px;

    position: fixed;
}

.pass {
    color: var(--green);
}

.fail {
    color: var(--orange);
}

/* custom messages */
.messages-container {
    background-color: white;
    border: 1px solid var(--navy);
    padding: 10px;
    overflow: auto;
}
.custom-message {
    padding: 10px 0px;
}
.messages {
    padding: 6px;
    cursor: pointer;
}
.messages:hover {
    background-color: rgba(176, 215, 222, 0.543);
    color: rgb(111, 165, 95);
    /* transition: all 0.2s; */
    border-radius: 5px;
}

.window {
    display: block;
    background-color: var(--light);
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    margin: auto;
    display: block;

    padding: 10px 30% 10px 5%;
}

.window__header {
    margin: auto;
}

.window__content {
    text-align: left;
}

.window__footer {
    font: 200;
}

.overflow {
    max-height: 100px;
    overflow: scroll;
    z-index: 0;
}

.copy__container {
    margin: auto;
    float: right;
    z-index: 99;
}

/* Send BUTTON */
.send-text {
    pointer-events: none;
}
.sent {
    border: 1px solid var(--cyan) !important;
    color: var(--wheat);
    background-color: var(--cyan) !important;
    font-weight: bold;
}

.sent:hover {
    color: var(--wheat) !important;
}

button:active {
    font-weight: bold;
    border: 1px solid var(--cyan);
}
.sent:hover span {
    display: none;
}

.sent:hover:before {
    content: 'send';
}

.sheet-select-overlay {
    height: 100%;
    width: 95%;
    z-index: 999;
    position: absolute;
    top: 0px;
    margin: auto;

    border: 1px solid var(--lightBlue);

    background-color: var(--lightO);
}

.sheet-select-overlay h2 {
    text-align: center;
    margin-top: 10%;
}
.sheet-container {
    margin: 5% auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.sheet {
    width: 100px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--lightBlue);
    background-color: var(--light);
    transition: all 500ms;
    margin: 10px;
}
.sheet:hover {
    background-color: var(--cyan);
    color: white;
}
