@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
:root {
    --navy: #073642;
    --lightBlue: #586e75;
    --blue: #268bd2;
    --cyan: #2aa198;
    --violet: #6c71c4;
    --red: #dc322f;
    --magenta: #d33682;
    --orange: #cb4b16;
    --green: #cb4b16;
    --wheat: #fdf6e3;
    --light: #ffffff9e;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background-color: var(--wheat);
    color: var(--navy);
}

footer {
    font-size: 10px;
    padding: 5px;
    color: var(--lightBlue);
    margin: 10px;
}

.invisible {
    display: none;
}
.container {
    margin: auto;
    max-width: 1400px;
    margin-top: 2%;
    height: 90%;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.table-header th {
    color: #586e75;
    padding: 10px;
}

.table-container td {
    border: 1px solid var(--lightBlue);
    border-radius: 2px;
    padding: 5px 15px;
    background-color: var(--light);
    line-height: 20px;
}

th {
    color: var(--blue);
}
.send-button {
    margin-top: 20px;
    width: 60%;
}

.output {
    margin-left: 20px;
}

.collection-container {
    border: 1px solid var(--navy);
    padding: 10px;
    margin: 25px;
    width: 200px;

    position: fixed;
}

.pass {
    color: var(--green);
}

.fail {
    color: var(--orange);
}

/* Cells */
.msg_name {
    width: 20px;
    text-align: center;
}

.port {
    width: 20px;
}

.sysex-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 200px;
}

.response {
    width: 500px;
}

input[type='textarea'] {
    /* height: 200px; */
    outline: none;
    height: 2rem;

    overflow: auto;

    text-align: start;
    background-color: var(--light);
    border: none;
}

/* custom messages */
.messages-container {
    background-color: white;
    border: 1px solid var(--navy);
    padding: 10px;
    overflow: auto;
}
.custom-message {
    padding: 10px 0px;
}
.messages {
    padding: 6px;
    cursor: pointer;
}
.messages:hover {
    background-color: rgba(176, 215, 222, 0.543);
    color: rgb(111, 165, 95);
    transition: all 0.2s;
    border-radius: 5px;
}

.window {
    display: block;
    background-color: var(--light);
    border: 1px solid var(--lightBlue);
    border-radius: 5px;

    margin: auto;
    display: block;

    padding: 10px 30% 10px 5%;
}

.window__header {
    margin: auto;
}

.window__content {
    text-align: left;
}

.window__footer {
    font: 200;
}
