.title {
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
}

.utilities {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light);
    border: 1px solid var(--lightBlue);

    border-radius: 5px;
    padding: 10px 20px;
}

select {
    cursor: pointer;
    margin: 0px 5px;
}

input[type='file'] {
    display: none;
}

.midi-ports {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
    border: 1px solid var(--lightBlue);
    background-color: var(--light);
    border-radius: 5px;
    padding: 5px 18px;
}

/* let msg = items[target].sysex;
        let byteArray = msg.split(' ');
        */
