.monitor-container {
    z-index: 10;
    height: 38%;
    width: 90%;
    min-width: 810px;
    min-height: 250px;
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    /* border-bottom: none; */
    /* border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; */

    background-color: var(--lightO);
    position: fixed;
    padding-bottom: 1px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.monitor-title {
    justify-items: left;
    margin: 10px auto 10px 3%;
    border-radius: 5px;
}

.port-select-container {
    width: 30%;
    margin: auto;
}

.monitor-content {
    width: 95%;
    /* background-color: var(--light); */
    border-radius: 5px;

    margin: auto;

    height: 90%;
    min-height: 300px;
    display: flex;
    /* max-width: 90%; */
    flex-direction: row;
    justify-content: space-between;
}

.columns-container {
    height: 95%;
    margin: 0 10px;
    border-bottom: 1px solid var(--lightBlue);
    border-radius: 5px;
    min-width: 205px;
    border-top: none;
    border-spacing: 2rem;
    position: relative;
    /* width: auto; */
    /* max-width: 420px; */
    min-height: 220px;
    max-height: 99%;
    overflow: auto;
    resize: both;
}

.column-title {
    position: sticky;
    padding: 5px;
    text-align: center;
    /* margin: 0 7px; */
    z-index: 999;

    border: 1px solid;
    border-radius: 5px;
    word-wrap: break-word;

    /* cursor: pointer; */
    background-color: var(--light);
    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;
}

.monitor-column {
    background-color: var(--light);
    border: 1px solid var(--lightBlue);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    border-bottom: none;

    /* margin: 0 7px; */
    height: 90%;

    /* width: 100%; */
    /* width: 100%; */
    padding: 2px;

    display: flex;
    flex-direction: column;
    overflow: auto;
    align-content: center;
}

.midi-message {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.midi-message div {
    padding: 2px 10px;
}

#midi-input-note {
}
#midi-input-time {
    text-align: right;
}

/* for colors */
.orange {
    color: var(--orange);
}

.green {
    color: var(--green);
}
.violet {
    color: var(--violet);
}
.cyan {
    color: var(--cyan);
}

.magenta {
    color: var(--magenta);
}
